<div class="topnav" id="myTopnav">
    <div class="noir">
        <div id="luna"><h1 id="kyubi">RENTALS</h1></div>
        
        <nav id="sool">
            <a class="ol" href="/login-page/">account</a>
        </nav>
    </div>
    
    <div class="sui">
        <a href="http://localhost:8000/" class="active">Home</a>
        
        <a href="/contact-us/" target="_blank" >Contact</a>
        <a href="/about-us/" >About</a>
       
        <a style=" color: black;" href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
    </div>
  </div>
